h2
{
	background-color: azure;
	color: salmon;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.bg-chido
{
	background-color: salmon;
}

.navbar-light
{
	color: salmon;
}


.fila-1
{
	padding-top: 30px;
}